# Bot uchun sozlamalar
BOT_TOKEN=8752911800:AAG4_T5q-v0qBNZEe8fu1_OtN9ywzK7w_Q0
# BotFather orqali botga o'rnatilgan MiniApp havolasi (webapp joylashtirilgandan keyin)
WEBAPP_URL=https://sizning-domeningiz.uz
# Ilk super-admin(lar) chat_id lari, vergul bilan ajratiladi
SUPER_ADMIN_IDS=123456789
# FastAPI server porti
PORT=8000
